<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (medicalAppointments()) {
      <div>
        <h2 data-cy="medicalAppointmentsDetailsHeading"><span>Medical Appointments</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ medicalAppointments()!.id }}</span>
          </dd>
          <dt><span>Date Medical</span></dt>
          <dd>
            <span>{{ medicalAppointments()!.dateMedical | formatMediumDate }}</span>
          </dd>
          <dt><span>Type Specialist</span></dt>
          <dd>
            @if (medicalAppointments()!.typeSpecialist) {
              <div>
                <a [routerLink]="['/type-specialist', medicalAppointments()!.typeSpecialist?.id, 'view']">{{
                  medicalAppointments()!.typeSpecialist?.specialistType
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>

        <button type="button" [routerLink]="['/medical-appointments', medicalAppointments()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
