<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (typeSpecialist()) {
      <div>
        <h2 data-cy="typeSpecialistDetailsHeading"><span>Type Specialist</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ typeSpecialist()!.id }}</span>
          </dd>
          <dt><span>Specialist Type</span></dt>
          <dd>
            <span>{{ typeSpecialist()!.specialistType }}</span>
          </dd>
          <dt><span>State Specialist</span></dt>
          <dd>
            <span>{{ { null: '', ACTIVE: 'ACTIVE', INACTIVE: 'INACTIVE' }[typeSpecialist()!.stateSpecialist ?? 'null'] }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>

        <button type="button" [routerLink]="['/type-specialist', typeSpecialist()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
